.navbar.navbar-default, .navbar.navbar-default.navbar-static-top{
	background: url('../images/header.jpg') no-repeat 0px 0px;
	background-size: 100% 100%;
	/*background-size: 170px, 50px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;*/
	min-height: 170px;
}

iframe {
    overflow: hidden;
    border: none;
    width: 100%;
}
.nav-tabs {
    width: 100%;
}
.tab-content {
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

