<div id="cover">
	<div class="row">
		<div class="col-sm-12">
			<h4>Tipo de Lente:</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<label class="control-label">Hidrofílicos</label>
			<div class="row">
				<input type="radio" name="tipo_lentilla" value="Hidrofílicos" class="option-input radio" style="top: 0;" 
				id="lentilla_radio1" required>
			</div>
		</div>	
		<div class="col-sm-4">
			<label class="control-label">Rígido</label>
			<div class="row">
				<input type="radio" name="tipo_lentilla" value="Rígido" class="option-input radio" style="top: 0;" 
				id="lentilla_radio2" required>
			</div>
		</div>
		<div class="col-sm-4">
			<label class="control-label">Híbrido</label>
			<div class="row">
				<input type="radio" name="tipo_lentilla" value="Híbrido" class="option-input radio" style="top: 0;" 
				id="lentilla_radio3" required>
			</div>
		</div>
	</div>
</div>